<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
   <link rel="icon" href="../img/logo.png" type="image/x-icon"> 
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <img src="../img/gestor1.png" alt="Logo" class="logo"> 
      <form>
        <div class="input-group">
          <input type="text" placeholder="Nome de Usuário" required>
        </div>
        <div class="input-group">
          <div class="password-container">
            <input type="password" id="password" placeholder="Senha" required>
            <!--icone visualizar a senha, caso nao conseguir att sera removido-->
            <span id="togglePassword" class="toggle-password">-</span>
          </div>
        </div>
        <button type="submit">Entrar</button>
      </form>
      <a href="#" class="forgot-password">Esqueci minha senha</a>
    </div>
  </div>
   

</body>
<script src="../js/login.js" defer></script>
</html>


