@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mozilla Text', sans-serif;
}
body {
    overflow: hidden;
}
nav.menu-lateral {
    width: calc(10vh - 4px);
    transition: width .3s;
    height: 100%;
    background-color: #075213;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0 40px 1%;
    box-shadow: 4px 0 0 #01fa2b;
    overflow: hidden; 
}
nav.menu-lateral:hover {
    width: calc(33vh - 4px); /*menu*/
    transition: .5s;
}
nav.menu-lateral:hover + main.main-conteudo {
    margin-left: 33vh; /*cont principal*/
    transition: .5s;
}
.div-bloq-exp {
    width: 100%;
    padding-left: 28px;
}
.div-bloq-exp > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}
ul {
    list-style: none;
}

ul li.clicado{
    background-color: #1aa531;
}

ul li.item-menu-lateral:hover {
    background-color: #1aa531;
}

ul li.item-menu-lateral {
    padding: 10px 0px 10px 20px;
    margin-top: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

ul li.item-menu-lateral a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

ul li.item-menu-lateral a .icone-lista {
    font-size: 40px;
}

nav.menu-lateral ul li.item-menu-lateral a .nome-lista {
    margin-left: 70px;
    transition: .8s;
    font-size: 28px;
    padding-left: 30px;
    white-space: nowrap;
    opacity: 0;
}

nav.menu-lateral:hover ul li.item-menu-lateral a .nome-lista {
    opacity: 1;
    margin-left: 0px;
}
/* Bloqueando a expansão*/
nav.menu-lateral.bloq-exp {
    width: calc(10vh - 4px) !important; /*bloqueando crescimento do menu*/
}
nav.menu-lateral.bloq-exp + main.main-conteudo {
    margin-left: 10vh !important; /*bloqueando ida para o lado do conteudo principal*/
}

/* Container */
main.main-conteudo {
    width: calc(100% - 10vh);
    margin-left: 10vh;
    transition: margin-left 0.3s, width 0.3s;
    overflow: auto;
    height: 100vh;
}
/* tela Home */
#container.home {
    background-color: red;
}
/* tela Patrimônios */
#container.patrimonios {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
}
#container.patrimonios .principal {
    height: 100%;
}
/* tela Notas Fiscais*/
#container.notas {
    background-color: brown;
}
/* tela Fornecedores*/
#container.fornecedores {
    background-color: darkmagenta;
}