@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mozilla Text', sans-serif;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 100px;
    transition: .3s;
    height: 100%;
    background-color: #075213;
    padding: 40px 0 40px 1%;
    box-shadow: 4px 0 0 #01fa2b;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

nav.menu-lateral:hover {
    transition: .3s;
    width: 310px;
}

nav.menu-lateral.expandir {
    width: 100px;
}

.btn-expandir {
    width: 100%;
    padding-left: 25px;
}

.btn-expandir > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    list-style: none;
}

ul li.clicado{
    background-color: #1aa531;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;    
}

ul li.item-menu-lateral:hover {
    background-color: #1aa531;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

ul li.item-menu-lateral {
    padding: 10px 0px 10px 20px;
    margin-top: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .2s; 
}

ul li.item-menu-lateral a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

ul li.item-menu-lateral a .icone-lista {
    font-size: 40px;
}

ul li.item-menu-lateral a .nome-lista {
    font-size: 28px;
    padding-left: 30px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.4s;
}

nav.menu-lateral ul li.item-menu-lateral a .nome-lista {
    opacity: 1;
    margin-left: 30px;
    transition: .8s;
}

nav.menu-lateral:hover ul li.item-menu-lateral a .nome-lista {
    opacity: 1;
    margin-left: 0px;
}
